<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input [(ngModel)]="searchReference.searchString" (keyup.enter)="search()">
<!--TODO: bind select's model to searchCategory-->
<select [(ngModel)]="searchReference.searchCategory" (change)="search()">
	<!--TODO: loop over searchCategories to create dropdown options-->
	<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
	<option *ngFor = "let key of searchReference.searchCategories">
		{{ key }}
	</option>
</select>
<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light" (click)="search()">Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<app-carousel *ngIf="searchReference.searchCategory === 'artist' || searchReference.searchCategory === 'album'" [resources]="searchReference.resources" [carouselId]="searchReference.searchCategory"></app-carousel>
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<app-track-list *ngIf="searchReference.searchCategory === 'track'" [tracks]="searchReference.resources"></app-track-list>